* {
    margin: 0;
    box-sizing: border-box;
}
header {
    padding: 20px;
    background-color: #1F2332;
}
body {
    background-color: #090A19;
}
main {
    color: white;
    max-width: 800px;
    margin: 30px auto;
    padding: 10px;
}
h1 {
    text-align: center;
}
hr {
    margin: 10px 0;
}
a, i {
    margin: 0 auto;
    color: white;
    padding: 8px;
}
.git {
    background-color: #5A5E6E;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
header > a > button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: large;
}
h3 {
    margin: 15px 0;
}