* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}
h1 {
    font-size: 25px;
}
header {
    padding: 20px 10px 0px;
}
body {
    background-image: linear-gradient(black, #1b1d3b);
}
main {
    color: white;
    max-width: 800px;
    margin: 30px auto;
    padding: 10px;
}
h1 {
    text-align: center;
}
hr {
    margin: 10px 0;
}
a, i {
    margin: 0 auto;
    color: white;
    padding: 8px;
}
.git {
    background-color: #5A5E6E;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
header > a > button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
}
h3 {
    margin: 15px 0;
}
.Galeria {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 20px;
}
.Galeria::-webkit-scrollbar {
        display: none;}
img {
    max-height: 400px;
}