* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
}
button {
    font-size: 18px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    padding: 20px;
    width: 100%;
}
nav > a > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
nav {
    display: flex;
    gap: 15px;
}
button:hover {
    color: #7E88AD;
}
.aboutme {
    background: url(/img/stars2.png) no-repeat center;
    background-size: cover;
    color: white;
    padding: 120px 50px;
    height: 100vh;
}
.aboutme > p {
    padding-top: 10px;
}
.section2 {
    background-image: linear-gradient(black, #090A19);
}
.section2 > h2 {
    color: white;
    text-align: center;
    padding-top: 5%;
}
.section2 > hr {
    margin: 10px 45% 3%;
}
.section2 > a > button {
    background-color: #5A5E6E;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 30px;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.section2 > a {
    text-decoration: none;
}
.curriculum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 850px;
    margin: 0 auto;
}
.curriculum > div {
    color: white;
}
.curriculum h4 {
    padding-bottom: 10px;
}
h4 {
    text-align: center;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap:20px;
    max-width: 850px;
    margin: 0 auto;
}
.projects > div {
    background-color: black;
    border-radius: 8px;
    padding: 0 15px;
    text-align: center;
    box-shadow: 0px 8px 9px #2c2c47;
}
.projects > div > a > button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 5px 0 15px;
}
.projects > div > hr {
    margin: 5px 15px;
}
.projects p {
    padding: 10px 0;
}
.projects h4 {
    padding-bottom: 10px;
}
.projects button:hover {
    color: #7E88AD;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}
.skills > div {
    background-color: #000000;
    border: 1px solid #7E88AD;
    color: #7E88AD;
    padding: 10px;
    width: 1fr;
}
.certifications {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 5%;
}
.certifications > div {
    background-color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto 15px;
}
.certifications > div > a > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}
img {
    width: 100%;
}
footer {
    background-color: #1F2332;
}
footer > h2 {
    color: white;
    text-align: center;
    padding-top: 20px;
}
footer > hr {
    margin: 10px 45% 3%;
}
i {
    color: white;
}
span {
    color: white;
}
footer > div {
    justify-content: center;
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
}
footer i:hover {
   text-decoration: underline; 
}
[id] {
    scroll-margin-top: 60px;
}

@media (max-width: 768px) {
    * {
        font-size: 18px;
    }
    h2 {
        font-size: 26px;
    }
    h1 {
        font-size: 45px;
    }
    nav {
        display: none;
    }
    .curriculum {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .curriculum h4 {
        padding: 10px 0;
    }
    .projects {
        overflow-x: auto;
        padding: 10px;
    }
    .projects > div {
        min-width: 210px;
    }
    .projects::-webkit-scrollbar {
        display: none;
    }
    .certifications {
        overflow-x: auto;
        padding: 10px;
    }
    .certifications > div {
        min-width: 200px;
    }
    .certifications::-webkit-scrollbar {
        display: none;
    }
    .skills {
        padding: 0 10px;
        grid-template-columns: 1fr 1fr;
    }
}
